.subreddit-card button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: var(--color-text-body);
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  padding: var(--spacing-2);
  border-radius: var(--radius);
}

.selected-subreddit button {
  color: var(--color-branding) !important;
}

.selected-subreddit {
  color: rgb(201, 27, 201);
}

.subreddit-card button:hover {
  color: rgb(238, 235, 63);
}

.subreddits-list {
  list-style: none;
  padding: 0;
  display: flex;
 justify-content: space-around;
}

