.subreddit-card button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  width: 100%;
}

.selected-subreddit button {
  color: rgb(201, 27, 201) !important;
  font-weight: 600;
}

.selected-subreddit {
  color: rgb(201, 27, 201);
}

.subreddit-card button:hover {
  color: rgb(238, 235, 63);
}

.subreddits-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
