footer {
  display: flex;
  padding: 1.5rem 0rem;
  background-color: black;
  flex-direction: column;
  text-align: center;
}

footer .copyright {
  flex-grow: 1;
  padding: 0 2%;
  margin: 5px 0px 5px 0px;
  color: white;
}

footer .location {
  padding: 0 2%;
  margin: 5px 0px 5px 0px;
  color: white;
}
