.post-container {
  border: 2px solid white;
  border-radius: 1rem;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 30rem;
  max-height: 600px;
  background-color: white;
}

.post-title {
  width: 100%;
  padding: 1em 0.5em 1em 1em;
  background-color: #e5e5e5;
  margin-top: 0;
}

.post-header {
  margin-bottom: 1rem;
}
.post-image {
  width: 100%;
}

.post-author {
  width: 100%;
  padding: 0 0.5em 1em 1em;
}

@media screen and (max-width: 1500px) {
  /* Tablet styles go here */
  .post-container {
    width: 27rem;
  }
}

@media screen and (max-width: 480px) {
  .post-container {
    width: 25rem;
  }
}
