header {
  position: fixed;
  z-index: 100;
  width: 100%;
  align-items: center;
  background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
}

header .logo{
  display: flex;
  flex: 1;
}

header .logo-icon {
  height: 3rem;
}

header .logo-title {
  font-size: 1.5rem;
  color: white;
  padding: 0;
  display: flex;
  align-items: center;
}


header ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

header li {
  list-style-type: none;
  padding: 0 1rem;
}

header span {
  color: #0339a6;
   font-weight: 600;
}

.search {
  display: flex;
  align-items: center;
  width: 60vw;
  margin-bottom: 1rem;
  
}

.search input {
  flex-grow: 1;
  background: white;
  border: none;
  padding: var(--spacing-1) var(--spacing-2);
  height: max-content;
  border-radius: var(--radius);
}

.search button {
  background: black;
  border: none;
  cursor: pointer;
  color: #0339a6;
  font-size: 1.5rem;
}
