.mondrianFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-top: 200px;
  max-width: 100%;
  min-height: 300rem;
  max-height: 1500rem;
}

@media (min-width: 1000px) {
  .mondrianFlex {
    max-height: 800rem;
  }
}

@media (min-width: 1200px) {
  .mondrianFlex {
    max-height: 700rem;
  }
}

@media (min-width: 1500px) {
  .mondrianFlex {
    max-height: 600rem;
  }
}
