/*! Reset Border Box */
html {
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
  color: #040d40;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  color: #040d40;
}

a {
  text-decoration: none;
  color: #0339a6;
  font-weight: bold;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

*:focus {
    outline: none;
}
